body {
  padding: 0 30px 0 30px;
}

body {
  background-color: beige;
}

button {
  font-size: 16px;
  padding: 8px;
}

.redButton{
  background-color: red;
}
.greenButton{
  background-color: lightgreen;
}
.blueButton{
  background-color: lightblue;
}
.yellowButton{
  background-color: yellow;
}
.pinkButton{
  background-color: pink;
}
.orangeButton{
  background-color: orange;

}

table, th, td {
  border: 1px solid black;
}

table {
  margin-top: 15px;
}

{
 background-color:
}
